/* Normalize.css */
/* Copy contents of normalize.css here */

/* Fira Code */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap');
}

/* Nanum Gothic Coding is loaded via Google Fonts already */
