@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-weight: 700;
  unicode-range: U+30E1, U+30AB, U+30BF, U+30D5; /* メカタフ */
  src: url(../font/NanumGothicCoding-Bold.woff2) format('woff2'),
       url(../font/NanumGothicCoding-Bold.woff) format('woff');
}
